# Build output
/target/
*.jar
*.class
pom.xml
pom.xml.asc

# tools.deps
.cpcache/

# REPL / tooling caches
.nrepl-port
.clj-kondo/.cache/
.lsp/.cache/

# Editors
.idea/
*.iml
.vscode/
.calva/

# OS
.DS_Store
